<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{% block title %}SURYA EDUCATION BOARD{% endblock %}</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/style.css">
  <script defer src="/assets/script.js"></script>
  {% block head %}{% endblock %}
</head>
<body>
  {% include 'header.html' %}

  {% block content %}{% endblock %}

  {% include 'footer.html' %}
</body>
</html>
